<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Add basic authentication as described here: http://www.alexlindgren.com/archive/password-protect-azure-website-with-basic-authentication/ -->
  <configSections>
    <section name="basicAuth" type="Devbridge.BasicAuthentication.Configuration.BasicAuthenticationConfigurationSection" />
  </configSections>
  <basicAuth>
    <credentials>
      <!-- Add credentials here (this file is only a template) -->
      <!--<add username="characterinsights" password="b53FCrfUFAdc3thA"/>-->
    </credentials>
  </basicAuth>
	<system.webServer>
    <modules>
      <add name="MyBasicAuthenticationModule" type="Devbridge.BasicAuthentication.BasicAuthenticationModule"/>
    </modules>
		<rewrite>
		  <rules>
			<rule name="Rewrite to index.html">
        <!-- TODO: replace with more sophisticated pattern (something that matches all routes except for routes with filename extensions) -->
			  <match url=".*\.(js|png|jpg|gif|pdf|txt)" negate="true" />
			  <action type="Rewrite" url="index.html" />
			</rule>
		  </rules>
		</rewrite>
	</system.webServer>
</configuration>
